.header__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #2f80ed;
  }

  .header__link:visited {
    text-decoration: none;
    color:#2f80ed;
  }

  .header__link:hover {
    opacity: 0.9;
    transition: 0.3s ease-in-out;
  }